{% extends 'base.html.twig' %}
{% block head %}
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}new!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
{% endblock head %}
{% block body %}
    <h1>Genus creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('genus_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
