    {% extends 'base.html.twig' %}

    {% block body %}

    <div  class="card container mt-3 text-dark bg-light mb-5" style="max-width: 60rem; ">
        <div class="card-header">
            <h1>Blog Edit/Delete</h1>
        </div>
        <div class="card-body">
            <div class="d-grid gap-2 d-md-block">

                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" type="button" class="btn btn-success mx-1" value="save" />
                {{ form_end(edit_form) }}
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    {{ form_start(delete_form) }}
                    {{ form_widget(delete_form) }}
                    <input type="submit" value="Delete" type="button" class="btn btn-danger mx-1 "/>
                    {{ form_end(delete_form) }}
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{{ path('blog_index') }}"  type="button"  class="btn btn-primary mx-1 ">Back to the list</a>
                </div>
            </div>
        </div>

    </div>


    {% endblock %}
