{% extends 'base.html.twig' %}

{% block body %}

<div class="card container mt-3 mb-3" style="max-width: 100rem;">
    <div class="card-header">
        <h2>Blog {{ blog.title }}</h2>
    </div>
    <div class="card-body">

    </div>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blog.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ blog.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ blog.slug }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ blog.content }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ blog.created }}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{{ blog.modified }}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{{ blog.deleted }}</td>
            </tr>
        </tbody>
    </table>
    <ul>

        <div class="d-grid gap-2 d-md-block">
            <a type="button"  class="btn btn-primary" href=" {{ path('blog_index') }}">Back to the list</a>
            <a type="button"  class="btn btn-info" href="{{ path('blog_edit', { 'id': blog.id }) }}">Edit</a>
            <a type="button"  class="btn btn-danger" href="{{ path('blog_edit', { 'id': blog.id }) }}">Delete</a>
{#            {{ form_start(delete_form) }}#}
{#            {{ form_widget(delete_form) }}#}
{#            <input  type="button" class="btn btn-danger mx-1" type="submit" value="Delete">#}
{#            {{ form_end(delete_form) }}#}
        </div>

    </ul>
</div>

{% endblock %}
